@media screen and (max-width: 768px) {
  #hero-header {
    font-size: 50px !important;
  }
  #hero-header {
    line-height: 1.2 !important;
  }
  
}

@media screen and (max-width: 1024px) {
  #hero-header {
    font-size: 70px !important;
  }
  .main-header {
    margin-top: 60px !important;
  }
  #DashboardButton {
    margin-bottom: 50px;
  }
  #services {
    background-color: #fafafb;
    padding: 50px 10px;
    height: auto !important;
  }
  .serviceColumn {
    margin-bottom: 60px !important;
  }
}

@media screen and (max-width: 540px) {
  #hero-header {
    font-size: 45px !important;
  }
  
}

@media screen and (max-width: 540px) {
  #hero-header {
    font-size: 45px !important;
  }
  
}

@media screen and (max-width: 1136px) {
  .main-header {
    margin-top: 60px !important;
  }
  #hero-header {
    line-height: 1;
  }
  
}

#home {
  background-color: rgb(255, 255, 255);
    
}

h1 {
  color: #6366f1;
}
  
#services {
  background-color: #fafafb;
  padding: 50px 10px;
  height: 500px;
}

#SignUpButton {
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}

#SignUpButton:hover {
  background-color: #6365f1e0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}

#DashboardButton {
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}

#DashboardButton:hover {
  background-color: #6365f1e0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}

.main-header {
  margin-top: -30px;
}

#hero-header {
  font-size: 100px;
  line-height: 1.2 ;
  text-align: left;
  color: rgb(17, 24, 39, 1);

}

.textInHeroHead {
  color: #6366f1;
}

.serviceIconCircle {
  background-color: #6366f1;
  border-radius: 50%;
  border-color: white;
  border-width: 0px;
  padding: 20px;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  height: 160px;
  width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.serviceColumn {
  margin-bottom: 30px;
}

#whyUs {
  width: 100%;
  background-image: radial-gradient(circle, #f6f6f6 10%, transparent 10%);
  background-size: 100px 120px;
  background-repeat: repeat;
}

#aboutUs {
  background-color: #fafafb;
  padding: 50px 10px;
  
}

.centerCTA {
  background-color: #efeff5;
  border-radius: 30px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

#welcome-text {
  position: relative;
  background: 
    linear-gradient(0deg, lightgrey 3px, transparent 3px),
    linear-gradient(90deg, lightgrey 3px, transparent 3px);
  background-size: 200px 200px;
}
