.skill-div {
    background-color: #f2f2f2;
    width: 80%;
}

.skill {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
  align-items: center;
}
  
.skill h3 {
    margin-bottom: 10px;
    flex: 1;
    text-align: left;
}

.skill-bar {
    width: 100%;
    height: 30px !important;
    background-color: #d5d6f8;
    border-radius: 10px;
    
}

.skill-level {
    height: 30px;
    background-color: #6366f1;
    border-radius: 10px;
}

#editGoal {
    background-color: #6366f1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 130px;
  }
  
  #editGoal:hover {
    background-color: #6365f1e0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 130px;
  }

@media (max-width: 728px) {
    .skill-div {
        background-color: #f2f2f2;
        width: 95%;
        margin-left: 10px;
    }
}