body {
    background-color: brown;
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: black;
}

/* Home.css */

.home-container {
    background-color: #ff0000; /* Example background color */
  }
  
  .home-container h1 {
    color: #333; /* Example text color */
  }

p {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: black;
}
  