body {
    background-color: rgb(255, 255, 255);
}

h1 {
  color: #6366f1;
}
  
#services {
  background-color: #f7fafc;
  padding: 50px 10px;
}

#SignUpButton {
  background-color: #6366f1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}

#SignUpButton:hover {
  background-color: #6365f1e0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}